<% action_url = (action == :new) ? cats_url : cat_url(cat) %>
<% request_type = (action == :new) ? "post" : "patch" %>
<% button_prompt = (action == :new) ? "Create cat!" : "Save cat!" %>
<form action="<%= action_url %>" method="post">
  <input type="hidden" name="_method" value="<%= request_type %>"/>
  <label for="cat_name">First name</label>
  <input type="text" name="cat[name]" id="cat_name" value="<%= cat.name %>">
  <br>
  <label for="cat_birth_date">Birth date</label>
  <input name="cat[birth_date]" id="cat_birth_date" type="date" value="<%= cat.birth_date %>">
  <br>
  <label>Sex</label>
  <div>
    <input name="cat[sex]" id="cat_sex_m" type="radio" value="M" <%= "checked" if cat.sex == "M" %>>
    <label for="cat_sex_m">Male</label>
    <input name="cat[sex]" id="cat_sex_f" type="radio" value="F" <%= "checked" if cat.sex == "F" %>>
    <label for="cat_sex_f">Female</label>
  </div>

  <label for="cat_description">Description</label>
  <textarea name="cat[description]" id="cat_description" ><%= cat.description %></textarea>
  <br>

  <label for="cat_coat_color">Coat color</label>
  <select name="cat[color]">
    <%# Cat::COLORS.each_key do |color| %>
    <option value="<%= Cat.colors[:brown] %>">Brown</option>
    <option value="<%= Cat.colors[:black] %>">Black</option>
    <option value="<%= Cat.colors[:white] %>">White</option>
  </select>
  <input type="submit" value="<%= button_prompt %>">

</form>
